<%- include('../partials/header') %>

        <div class="jumbotron"><h2>Flights Listing</h2></div>
        <center>
        <table>
                <thead>
                        <th>Airline</th>
                        <th>Flight #</th>
                        <th>Departure Date</th>
                </thead>
                <tbody>

                        <% var flights = flights.sort((a, b) => a.departs - b.departs) %>
                        <% flights.forEach(function(flight) { %>
                        <tr>
                                <td><%= flight.airline %></td>
                                <td><%= flight.flightNo %></td>
                                <td><%= flight.departs %></td>
                        </tr>
                        <% }) %>
                </tbody>
        </table>
        </center>



        <%- include('../partials/footer') %>


</body>
</html>

