<%- include('../partials/header') %>

        <div class="jumbotron"><h2>Flights Listing</h2></div>

        <section id="show-page">
               
                <strong><div>Airline: </strong>
                <span><%= flight.airline %></span></div>
                <strong><div>Flight Number:</strong>
                <span><%= flight.flightNo %></span></div>
                <strong><div>Departure Date:</strong>
                <span><%= flight.departs %></span></div>
                <strong><div>Flight destinations:</strong><br>
                <table>

                <% flight.destinations.forEach(des => { %>
                       
                               <strong>Arrival time:</strong>
                   
                                <%= des.arrival %><br>
                      
                               <strong>Arrival airport:</strong>
                       
                        <%= des.airport %>
                       
                <% }) %>
        </table>
        </section>
        <br><br><h2>Add Arrival Info</h2>
        <center>
        <form id="add-arrival-form" method="POST"
  action="/flights/<%= flight._id %>?_method=PUT" >
                        <label><br>Airport:
                        <select name="airport">
                                <option value="AUS">Austin, TX</option>
                                <option value="DAL">Dallas, TX</option>
                                <option value="LAX">Los Angeles, California</option>
                                <option value="SAN">San Diego, California</option>
                                <option value="SEA">Seattle, Washington</option>
                        </select>
                        </label>
                        <label>Arrival Date
                                <input type="datetime-local" name="arrival">
                        </label>
                <input type="submit" value="Add Arrival">

                </form>


        </center>



        <%- include('../partials/footer') %>


</body>
</html>

